
ForumApp/.vs/ForumApp/FileContentIndex/71bef017-c439-42ba-9c76-c701f50f9b73.vsidx
*.vsidx
*.dll
*.exe
.vs/Open-Forum-Project/v17/.wsuo
.vs/Open-Forum-Project/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
*.cache
*.cs
*.pdb
*.exe
*.dll
ForumApp/bin/Debug/net8.0/ForumApp.dll
ForumApp/bin/Debug/net8.0/ForumApp.exe
ForumApp/bin/Debug/net8.0/ForumApp.pdb
ForumApp/obj/Debug/net8.0/apphost.exe
ForumApp/obj/Debug/net8.0/ForumApp.AssemblyInfo.cs
ForumApp/obj/Debug/net8.0/ForumApp.AssemblyInfoInputs.cache
ForumApp/obj/Debug/net8.0/ForumApp.dll
ForumApp/obj/Debug/net8.0/ForumApp.pdb
ForumApp/obj/Debug/net8.0/ForumApp.sourcelink.json
ForumApp/obj/Debug/net8.0/ref/ForumApp.dll
ForumApp/obj/Debug/net8.0/refint/ForumApp.dll
ForumApp/obj/Release/net8.0/ForumApp.GeneratedMSBuildEditorConfig.editorconfig
ForumApp/bin/Debug/net8.0/ForumApp.dll
ForumApp/.vs/ForumApp/DesignTimeBuild/.dtbcache.v2
ForumApp/.vs/ForumApp/FileContentIndex/995a6e2d-148b-4767-b91b-12749841fee4.vsidx
ForumApp/.vs/ForumApp/FileContentIndex/b7c8b23c-cb6b-4745-b9b7-5d2c66d24671.vsidx
ForumApp/.vs/ForumApp/v17/.suo
ForumApp/.vs/ProjectEvaluation/forumapp.metadata.v9.bin
ForumApp/.vs/ProjectEvaluation/forumapp.projects.v9.bin
ForumApp/.vs/ProjectEvaluation/forumapp.strings.v9.bin
ForumApp/bin/Debug/net8.0/ForumApp.deps.json
ForumApp/bin/Debug/net8.0/ForumApp.dll
ForumApp/bin/Debug/net8.0/ForumApp.exe
ForumApp/bin/Debug/net8.0/ForumApp.pdb
ForumApp/bin/Debug/net8.0/ForumApp.runtimeconfig.json
ForumApp/bin/Debug/net8.0/ForumApp.staticwebassets.endpoints.json
ForumApp/bin/Debug/net8.0/ForumApp.staticwebassets.runtime.json
ForumApp/forum.db-shm
ForumApp/forum.db-wal
ForumApp/obj/Debug/net8.0/apphost.exe
ForumApp/obj/Debug/net8.0/ForumApp.AssemblyInfo.cs
ForumApp/obj/Debug/net8.0/ForumApp.AssemblyInfoInputs.cache
ForumApp/obj/Debug/net8.0/ForumApp.assets.cache
ForumApp/obj/Debug/net8.0/ForumApp.csproj.AssemblyReference.cache
ForumApp/obj/Debug/net8.0/ForumApp.csproj.CoreCompileInputs.cache
ForumApp/obj/Debug/net8.0/ForumApp.csproj.FileListAbsolute.txt
ForumApp/obj/Debug/net8.0/ForumApp.dll
ForumApp/obj/Debug/net8.0/ForumApp.GeneratedMSBuildEditorConfig.editorconfig
ForumApp/obj/Debug/net8.0/ForumApp.genruntimeconfig.cache
ForumApp/obj/Debug/net8.0/ForumApp.pdb
ForumApp/obj/Debug/net8.0/ForumApp.sourcelink.json
ForumApp/obj/Debug/net8.0/ref/ForumApp.dll
ForumApp/obj/Debug/net8.0/refint/ForumApp.dll
ForumApp/obj/Debug/net8.0/scopedcss/bundle/ForumApp.styles.css
ForumApp/obj/Debug/net8.0/scopedcss/projectbundle/ForumApp.bundle.scp.css
ForumApp/obj/Debug/net8.0/staticwebassets.build.endpoints.json
ForumApp/obj/Debug/net8.0/staticwebassets.build.json
ForumApp/obj/Debug/net8.0/staticwebassets.development.json
ForumApp/obj/Debug/net8.0/staticwebassets.pack.json
ForumApp/obj/Debug/net8.0/staticwebassets.removed.txt
ForumApp/obj/Debug/net8.0/staticwebassets/msbuild.build.ForumApp.props
ForumApp/obj/Debug/net8.0/staticwebassets/msbuild.ForumApp.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
ForumApp/obj/Debug/net8.0/staticwebassets/msbuild.ForumApp.Microsoft.AspNetCore.StaticWebAssets.props
ForumApp/obj/ForumApp.csproj.nuget.dgspec.json
ForumApp/obj/ForumApp.csproj.nuget.g.props
ForumApp/obj/project.assets.json
ForumApp/obj/project.nuget.cache
ForumApp/.vs/ForumApp/DesignTimeBuild/.dtbcache.v2
ForumApp/.vs/ForumApp/FileContentIndex/995a6e2d-148b-4767-b91b-12749841fee4.vsidx
ForumApp/.vs/ForumApp/FileContentIndex/b7c8b23c-cb6b-4745-b9b7-5d2c66d24671.vsidx
ForumApp/.vs/ForumApp/v17/.suo
ForumApp/.vs/ProjectEvaluation/forumapp.metadata.v9.bin
ForumApp/.vs/ProjectEvaluation/forumapp.projects.v9.bin
ForumApp/.vs/ProjectEvaluation/forumapp.strings.v9.bin
ForumApp/bin/Debug/net8.0/ForumApp.deps.json
ForumApp/bin/Debug/net8.0/ForumApp.dll
ForumApp/bin/Debug/net8.0/ForumApp.exe
ForumApp/bin/Debug/net8.0/ForumApp.pdb
ForumApp/bin/Debug/net8.0/ForumApp.runtimeconfig.json
ForumApp/bin/Debug/net8.0/ForumApp.staticwebassets.runtime.json
ForumApp/obj/Debug/net8.0/apphost.exe
ForumApp/obj/Debug/net8.0/ForumApp.AssemblyInfo.cs
ForumApp/obj/Debug/net8.0/ForumApp.AssemblyInfoInputs.cache
ForumApp/obj/Debug/net8.0/ForumApp.assets.cache
ForumApp/obj/Debug/net8.0/ForumApp.csproj.AssemblyReference.cache
ForumApp/obj/Debug/net8.0/ForumApp.csproj.CoreCompileInputs.cache
ForumApp/obj/Debug/net8.0/ForumApp.csproj.FileListAbsolute.txt
ForumApp/obj/Debug/net8.0/ForumApp.dll
ForumApp/obj/Debug/net8.0/ForumApp.GeneratedMSBuildEditorConfig.editorconfig
ForumApp/obj/Debug/net8.0/ForumApp.genruntimeconfig.cache
ForumApp/obj/Debug/net8.0/ForumApp.pdb
ForumApp/obj/Debug/net8.0/ForumApp.sourcelink.json
ForumApp/obj/Debug/net8.0/ref/ForumApp.dll
ForumApp/obj/Debug/net8.0/refint/ForumApp.dll
ForumApp/obj/Debug/net8.0/scopedcss/bundle/ForumApp.styles.css
ForumApp/obj/Debug/net8.0/scopedcss/projectbundle/ForumApp.bundle.scp.css
ForumApp/obj/Debug/net8.0/staticwebassets.build.json
ForumApp/obj/Debug/net8.0/staticwebassets.development.json
ForumApp/obj/Debug/net8.0/staticwebassets.pack.json
ForumApp/obj/Debug/net8.0/staticwebassets/msbuild.build.ForumApp.props
ForumApp/obj/Debug/net8.0/staticwebassets/msbuild.ForumApp.Microsoft.AspNetCore.StaticWebAssets.props
ForumApp/obj/ForumApp.csproj.nuget.dgspec.json
ForumApp/obj/ForumApp.csproj.nuget.g.props
ForumApp/obj/project.assets.json
ForumApp/obj/project.nuget.cache
ForumApp/.vs/ForumApp/v17/.suo
ForumApp/obj/Debug/net8.0/ForumApp.AssemblyInfo.cs
ForumApp/obj/Debug/net8.0/ForumApp.AssemblyInfoInputs.cache
*.pdb
*.exe
*.dll
*.v2
*.v2
*.v2
ForumApp/.vs/ForumApp/DesignTimeBuild/.dtbcache.v2
ForumApp/.vs/ForumApp/v17/.futdcache.v2
ForumApp/.vs/ForumApp/v17/.suo
ForumApp/.vs/ForumApp/v17/DocumentLayout.backup.json
ForumApp/.vs/ForumApp/v17/DocumentLayout.json
ForumApp/bin/Debug/net8.0/ForumApp.dll
ForumApp/bin/Debug/net8.0/ForumApp.exe
ForumApp/bin/Debug/net8.0/ForumApp.pdb
ForumApp/obj/Debug/net8.0/apphost.exe
ForumApp/obj/Debug/net8.0/ForumApp.AssemblyInfo.cs
ForumApp/obj/Debug/net8.0/ForumApp.AssemblyInfoInputs.cache
ForumApp/obj/Debug/net8.0/ForumApp.dll
ForumApp/obj/Debug/net8.0/ForumApp.pdb
ForumApp/obj/Debug/net8.0/ForumApp.sourcelink.json
ForumApp/obj/Debug/net8.0/ref/ForumApp.dll
ForumApp/obj/Debug/net8.0/refint/ForumApp.dll
